<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <packageSource>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSource>
    <packageSoureMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSoureMapping>
</configuration>