# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    paths-ignore: [ "StepLang.Wiki/**" ]
    branches: [ "main" ]
  pull_request:
    paths-ignore: [ "StepLang.Wiki/**" ]
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: [6.x, 7.x, 8.x]

    runs-on: ${{ matrix.os }}

    name: Build & Test on .NET ${{ matrix.version }} (${{ matrix.os }})

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.version }}

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage

    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      if: matrix.os == 'ubuntu-latest' && matrix.version == '7.x'
      with:
        filename: coverage/**/coverage.cobertura.xml
        badge: true
        format: markdown
        output: both
        fail_below_min: true
        thresholds: '80 90'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request' && matrix.os == 'ubuntu-latest' && matrix.version == '7.x'
      with:
        recreate: true
        path: code-coverage-results.md
        GITHUB_TOKEN: ${{ secrets.PR_COMMENT_PAT }}
