# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    paths-ignore:
      - "StepLang.Wiki/**"
      - "StepLang.Homepage/**"
    branches: [ "main" ]
  pull_request:
    paths-ignore:
      - "StepLang.Wiki/**"
      - "StepLang.Homepage/**"
    branches: [ "main" ]

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        version: [ 9.x ]

    runs-on: ${{ matrix.os }}

    name: Build & Test on .NET ${{ matrix.version }} (${{ matrix.os }})

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.version }}

      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Test --no-restore

      - name: Test
        if: matrix.os != 'ubuntu-latest'
        run: dotnet test --configuration Test --no-build

      - name: Test with coverage
        if: matrix.os == 'ubuntu-latest'
        run: dotnet test --configuration Test --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage

      - name: Upload coverage reports
        if: matrix.os == 'ubuntu-latest'
        uses: coverallsapp/github-action@v2
        with:
          format: cobertura
          files: coverage/**/coverage.cobertura.xml

