name: Publish

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
    paths:
      - ".github/workflows/publish.yml"
      - "StepLang.CLI/publish.sh"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/publish.yml"
      - "StepLang.CLI/publish.sh"

jobs:
  build:
    name: Build Binaries

    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [linux, win, osx]
        arch: [x64, arm64]
        dotnet: ["7.0"]

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore Dependencies
        run: dotnet restore --nologo --force-evaluate --runtime ${{ matrix.os }}-${{ matrix.arch }}

      - name: Build
        run: dotnet publish StepLang.CLI/StepLang.CLI.csproj --configuration Release --no-restore --runtime ${{ matrix.os }}-${{ matrix.arch }} --framework net${{ matrix.dotnet }} --self-contained true /p:PublishTrimmed=true /p:PublishSingleFile=true

      - name: Prepare Artifact
        env:
          frameworkVersion: net${{ matrix.dotnet }}
          platform: ${{ matrix.os }}-${{ matrix.arch }}
        run: |
          mkdir -p publish

          sourceFilename="step"
          if [[ "$platform" == "win-x64" || "$platform" == "win-arm64" ]]; then
              sourceFilename="$sourceFilename.exe"
          fi

          targetFilename="step-$platform"
          if [[ "$platform" == "win-x64" || "$platform" == "win-arm64" ]]; then
              targetFilename="$targetFilename.exe"
          fi

          outputPath="publish/$targetFilename"

          # move built binary to publish folder
          mv "StepLang.CLI/bin/Release/$frameworkVersion/$platform/publish/$sourceFilename" "$outputPath"

          chmod +x "$outputPath"

          echo "Created $outputPath"

      - name: Upload Artifact (step-${{ matrix.os }}-${{ matrix.arch }})
        uses: actions/upload-artifact@v3
        with:
          name: step-${{ matrix.os }}-${{ matrix.arch }}
          path: publish/step-${{ matrix.os }}-${{ matrix.arch }}*

  sign-macos:
    name: Sign macOS binary

    needs:
      - build

    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: step-osx-arm64
          path: ./artifact

      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Code Sign Binary
        env:
          APPLE_SIGNING_ID: ${{ secrets.APPLE_SIGNING_ID }}
        shell: bash
        run: codesign --force --timestamp --options=runtime --entitlements StepLang.CLI/entitlements.plist --sign "$APPLE_SIGNING_ID" ./artifact/step-osx-arm64

      - name: Notarize Binary
        uses: lando/notarize-action@v2
        with:
          product-path: ./artifact/step-osx-arm64
          appstore-connect-username: ${{ secrets.NOTARIZATION_USERNAME }}
          appstore-connect-password: ${{ secrets.NOTARIZATION_PASSWORD }}
          appstore-connect-team-id: ${{ secrets.NOTARIZATION_TEAM_ID }}
          primary-bundle-id: de.ricardoboss.step
          verbose: true

      - name: Verify notarization
        shell: bash
        run: codesign -vvvv -R="notarized" --check-notarization ./artifact/step-osx-arm64

      - name: Upload Artifacts (step-osx-arm64-signed)
        uses: actions/upload-artifact@v3
        with:
          name: step-osx-arm64-signed
          path: ./artifact/step-osx-arm64

  release:
    name: Create GitHub Release

    if: startsWith(github.ref, 'refs/tags/')

    needs:
      - build
      - sign-macos

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Download binaries (step)
        uses: actions/download-artifact@v2
        with:
          name: step
          path: ./artifacts

      - name: Download binaries (step-linux-x64)
        uses: actions/download-artifact@v2
        with:
          name: step-linux-x64
          path: ./artifacts

      - name: Download binaries (step-linux-arm64)
        uses: actions/download-artifact@v2
        with:
          name: step-linux-arm64
          path: ./artifacts

      - name: Download binaries (step-win-x64)
        uses: actions/download-artifact@v2
        with:
          name: step-windows-x64
          path: ./artifacts

      - name: Download binaries (step-win-arm64)
        uses: actions/download-artifact@v2
        with:
          name: step-windows-arm64
          path: ./artifacts

      - name: Download binaries (step-osx-x64)
        uses: actions/download-artifact@v2
        with:
          name: step-osx-x64
          path: ./artifacts

      - name: Download binaries (step-osx-arm64-signed)
        uses: actions/download-artifact@v2
        with:
          name: step-osx-arm64-signed
          path: ./artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            These release notes are generated automatically. For more information, please refer to the [CHANGELOG.md](https://github.com/ricardoboss/STEP/blob/main/CHANGELOG.md).
          generate_release_notes: true
          fail_on_unmatched_files: true
          draft: true
          files: |
            StepLang.CLI/publish/*
