name: STEP Format

on:
  push:
    branches: [ "main", "release/**", "maint/**" ]
    paths:
      - '**.step'
      - 'StepLang.Tooling.Analysis/**'
      - '.github/workflows/step.yml'
  pull_request:
    branches: [ "main", "release/**", "maint/**" ]
    paths:
      - '**.step'
      - 'StepLang.Tooling.Analysis/**'

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  format:
    runs-on: ubuntu-latest

    name: Make sure .step files are formatted

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - name: Cache NuGet packages
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore dependencies
        run: dotnet restore

      - name: Run step format
        run: dotnet run --project StepLang.CLI/StepLang.CLI.csproj -- format --set-exit-code --dry-run
