name: STEP Format

on:
  push:
    branches:
      - main
    paths:
      - '**/*.step'
      - '.github/workflows/step.yml'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.step'

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  format:
    runs-on: ubuntu-latest

    name: Make sure .step files are formatted

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Run step format
        run: dotnet run --project StepLang.CLI/StepLang.CLI.csproj -- format --set-exit-code --dry-run
