name: Verify

on:
  pull_request:
    paths-ignore:
      - "docs/**"
    types: [ assigned, opened, synchronize, reopened, labeled, unlabeled ]
    branches: [ "main", "release/**", "maint/**" ]

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  style:
    name: Code Style

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - name: Run dotnet format
        id: style
        run: dotnet format --verify-no-changes

  changelog:
    name: CHANGELOG was updated

    runs-on: ubuntu-latest

    if: ${{ github.event_name != 'pull_request' || github.actor != 'dependabot[bot]' }}

    steps:
      - uses: tarides/changelog-check-action@v3
        with:
          changelog: CHANGELOG.md

  lockfiles:
    name: Package lock files

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - name: Restore and regenerate lock files
        run: dotnet restore --force-evaluate
